.header {
  padding: 45px 0 40px;
  box-sizing: border-box;
  margin: 0 auto 40px;
  max-width: 882px;
  border-bottom: 1px solid #545454b3;
}

@media screen and (max-width:1023px) {
  .header {
    padding-left: 27px;
  }
}

@media screen and (max-width:767px) {
  .header {
    padding: 28px calc(27*100%/320) 31px;
  }
}
